[Unit]
Description=Photon Standalone
After=multi-user.target
 
[Service]
Type=idle
 
User=pi
ExecStart=/usr/bin/python /home/pi/photon/photobooth.python
WorkingDirectory=/home/pi/photon/
Conflicts=photon-webapp.service

[Install]
WantedBy=multi-user.target